{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block title %}{{ company.name }}{% endblock %}

{% block content %}
<h2>Add New Company</h2>
<div>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field|add_class:"form-control"}}

            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        
        <div>
            <button type="submit">
                {% if form.instance.pk %}Update Company{% else %}Add Company{% endif %}
            </button>

            <a href="{% url 'accounts:dashboard' user.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
