{% extends 'common/base.html' %}

{% block title %}Companies | UK Tech Insights{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if companies %}
    <div class="row g-4">
        {% for company in companies %}
        <div class="col-12 col-md-6 col-lg-4">
            {% include 'companies/_company_card.html' with company=company %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-muted py-5">No companies to display.</p>
    {% endif %}
</div>
{% endblock %}
