{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
        <div>
            <label for="{{ label.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:"form-control"}}

            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}

        <div>
            <button type="submit">
                {% if form.instance.pk %}Update Location{% else %}Add Location{% endif %}
            </button>
            
            {% if form.instance.pk %}
            <a href="{% url 'companies:location_list' %}">Cancel</a>
            <a href="{% url 'companies:location_confirm_delete' location.pk %}">Delete</a>
            {% else %}
            <a href="{% url 'accounts:dashboard' user.pk %}">Cancel</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
