{% extends 'common/base.html' %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
<div>
    <h2>Delete {{ location.name }}</h2>
    <p class="text-danger">Are you sure you want to delete <strong>{{ location.name }}</strong> permanently?</p>
    <form method="post">
        {% csrf_token %}

        <input type="submit" value="Confirm">
        <div class="btn">
            <a href="{% url 'companies:location_edit_detail' location.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
