{% extends 'common/base.html' %}

{% block title %}Dashboard | UK Tech Insights{% endblock %}

{% block content %}
<main>
    <h2>Welcome back</h2>

    <p>This is your personal dashboard</p>

    <ul>
        <li><a href="{% url 'profile-details' 1 %}">View Profile</a></li>
        <li><a href="{% url 'profile-edit' 1 %}">Edit Profile</a></li>
        <li><a href="{% url 'change-password' 1 %}">Change Password</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</main>
{% endblock%}