{% extends 'common/base.html' %}

{% block title %}Sign In | UK Tech Insights{% endblock %}

{% block content %}
<main>
    <h2>Sign In</h2>
    <form method="post", action="{% url 'login' %}?next={% url 'dashboard' 1 %}">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.username }}
        {{ form.username.errors }}

        <label for="{{ form.password.id_for_label }}">Password:</label>
         {{ form.password }}
         {{ form.password.errors }}

        <button type="submit">Sign In</button>

        <a href="{% url 'password_reset' %}" class="button-link">Forgotten password?</a>

        <p>Not having an account?</p>
        <a href="{% url 'register' %}" class="button-link">Register</a>
    </form>
</main>
{% endblock %}