{% extends 'common/base.html' %}

{% block title %}Profile Edit | UK Tech Insights{% endblock %}

{% block content %}
<h2>Edit Profile</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
        <label for="{{ form.headline.id_for_label }}">Headline</label>
        {{ form.headline }}
        {{ form.headline.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.bio.id_for_label }}">Biography</label>
        {{ form.bio }}
        {{ form.bio.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
        {{ form.date_of_birth }}
        {{ form.date_of_birth.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.city.id_for_label }}">City</label>
        {{ form.city }}
        {{ form.city.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.country.id_for_label }}">Country</label>
        {{ form.country }}
        {{ form.country.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.profile_picture.id_for_label }}">Profile Picture</label>
        {% if form.instance.profile_picture %}
            <div>
                <img src="{{ form.instance.profile_picture.url }}" alt="Current profile picture" style="max-height: 150px;">
            </div>
        {% endif %}
        {{ form.profile_picture }}
        {{ form.profile_picture.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.personal_website.id_for_label }}">Personal Website</label>
        {{ form.personal_website }}
        {{ form.personal_website.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.linkedin.id_for_label }}">LinkedIn</label>
        {{ form.linkedin }}
        {{ form.linkedin.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.twitter.id_for_label }}">Twitter</label>
        {{ form.twitter }}
        {{ form.twitter.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.github.id_for_label }}">GitHub</label>
        {{ form.github }}
        {{ form.github.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.gitlab.id_for_label }}">GitLab</label>
        {{ form.gitlab }}
        {{ form.gitlab.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.tech_stack.id_for_label }}">Tech Stack</label>
        {{ form.tech_stack }}
        {{ form.tech_stack.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.contact_email.id_for_label }}">Contact Email</label>
        {{ form.contact_email }}
        {{ form.contact_email.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.languages.id_for_label }}">Languages</label>
        {{ form.languages }}
        {{ form.languages.errors }}
    </div>

    <button type="submit">Save Changes</button>
</form>
{% endblock %}
