{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}UK Tech Insights{% endblock %}</title>
    </head>
    <body>
        <header>
            <div>
                <a href="{% url 'home' %}">
                    <img width="50" src="{% static 'images/navbar_logo.png' %}" alt="UK Tech Insights Logo">
                </a>
            </div>

            <div>
                <form method="get" action="#">
                    <input type="text" name="q" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>

            {% if not hide_navbar %}
            <div>
                <a href="{% url 'login' %}">Sign In</a>
            </div>
            {% endif %}
        </header>

        <nav class="navbar">
            {% if not hide_navbar %}
            <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">Companies</a></li>
                <li><a href="#">Job Market</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Forum</a></li>
            </ul>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            <p>&copy; 2025 UK Tech Insights. All rights reserved.</p>
        </footer>
    </body>
</html>