{% extends 'forum/base_forum.html' %}

{% block title %}Posts Categories | UK Tech Insights{% endblock %}

{% block forum_content %}
<h2 class="text-center mb-4">Categories</h2>

{% if categories %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for category in categories %}
            <div class="col">
                <a href="{% url 'forum:category_posts' category.slug %}" class="d-block text-decoration-underline fw-semibold fs-4">
                    {{ category.name }}
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-center">No categories available.</p>
{% endif %}
{% endblock %}
